# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. Python
1. Java
1. R
1. Scala

**Objectives:**

- List popular languages for Data Science
- Introduce commonly used libraries in Data Science
- Demonstrate arithmetic operations in Python
- Convert time units such as minutes to hours
- Explore Data Science tools and environments

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
1. Pandas
1. Matplotlib
1. Keras
1. Tensorflow

| Data Science Tools        |
|:--------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

## Author

Anurag Swain